/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* (Own attempt) Add stylings after this line */

/* html {
    font-family: 'Open Sans', sans-serif;   ok

}

body {
    background-color: #60a9ff;  ok
    align-items: center;        ok
    justify-content: center;    ok
    display: flex;              ok
    height: 100vh;              correction: min-height:100vh
    text-align: center;
}

.panel {
    background-color: white;    ok
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    border-radius: 10px;        ok
}

.panel div:nth-of-type(2){
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
}

.pricing-plan {
    padding: 10px;
}

ul, span, a {
    color: #60a9ff;
    font-weight: bold;
}

a {
    width: 100px;
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    justify-content: center;
    padding: 1em 0;
    margin: 1em;
    text-decoration: none;
}

.pricing-button-is-featured {
    background-color: #60a9ff;
    color: white;
}

h2 {
    font-size: 1.5em;
    color: #adb5bd;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 1.5em;
}

span {
    font-size: 3em;
    color: #0e5fbd;
}

li {
    padding: 1em;
    margin: 1em;
    border-top: 2px solid lightgray;
}

li:nth-of-type(2) {
    border-bottom: 2px solid lightgray;
}

@media (max-width: 768px) {
    .panel {
        flex-direction: column;
    }
} */

/* (Code along) Add stylings after this line */

html {
    font-family: 'Open Sans', sans-serif;
    /* setting border-box means if we set a width on an element (e.g. 100px) that's going to factor in the width of the border.
    So we're not just setting the inner content we're also including the border width so the overall width will be 100px */
    box-sizing: border-box;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    /* to make the border rounded corners */
    border-radius: 10px;
    /* to give some space around the content, add 2-values padding: |top and bottom| |left and right| */
    padding: 15px 25px;
    /* set width to 100% of the parent element */
    width: 100%;
    /* max-width is set so the content never gets larger than 100% at which point it's going to be centered*/
    max-width: 960px;
}